# Neon PostgreSQL Database Connection URL
DATABASE_URL=postgresql://neondb_owner:npg_JuMNs6mUAK4w@ep-autumn-poetry-ayv0f9do-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Google Gemini AI API Key
GEMINI_API_KEY=AQ.Ab8RN6KMg6CBKOL02JdI2udXtri_SU6tLuTgrBdk2n8UwXU4KQ
